<!-- ----------------------------------------------- -->
<th:block xmlns:th="">
    <div id="productDay" class="productDay" style="width: 460px; height: 150px; border: solid; box-shadow: 3px 0 3px 0 #0d6efd; border-radius: 12px; background: #fff; box-shadow: 0px 0px 25px 25px #fff;">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col-12" style="color: #0f4799; font-size: 35px; margin-left: 10px; font-weight: bold;">
                        ТОВАР ДНЯ!
                    </div>
                </div>
                <div class="row">
                    <div class="col-6" id="new" style="color: #0f4799; font-size: 25px; font-weight: bold; margin-left: 10px;"></div>
                    <div class="col-5" id="old" style="color: gray; font-size: 20px; margin-top: 5px; font-weight: bold; text-decoration: line-through;"></div>
                </div>
                <div class="row">
                    <div class="col-12" id="name" style="color: gray; font-size: 17px; margin-left: 10px; margin-bottom: 2px;"></div>
                </div>
            </div>
            <div class="col-2">
                <img style="width: 250px; height: 250px; margin-left: -60px; margin-top: -60px;" src="/images/parts.png">
            </div>
        </div>
    </div>
</th:block>
<!-- ----------------------------------------------- -->